/* Small devices (phones, 576px and up) */
@media (max-width: 576px) {
  .content .oeg-start .oeg-start-about {
    padding: 31px 28px;
  }
  .content .oeg-start .oeg-start-about .group-btn {
    padding: 0;
  }
  .content .oeg-start .oeg-start-about .group-btn span {
    font-size: 14px;
  }
  .content .oeg-start .oeg-start-about .title-desc p {
    font-size: 20px;
    line-height: 24px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .star {
    display: none;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .yen {
    right: 72%;
    top: 0px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .yen img {
    width: 70px;
    height: 70px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .gaming {
    left: inherit;
    right: 7%;
    top: 60px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .gaming img {
    width: 70px;
    height: 70px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .music {
    right: 47%;
    top: 146px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .circle-1 {
    left: 10%;
    top: 200px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .circle-1 img {
    width: 20px;
    height: 20px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .circle-2 {
    left: inherit;
    right: 4%;
    top: 154px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .circle-2 img {
    width: 30px;
    height: 30px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .music {
    right: 54%;
    top: 218px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .music img {
    height: 60px;
    width: 60px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .lightning {
    left: 44%;
    top: 130px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .lightning img {
    width: 55px;
    height: 55px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .ceo {
    left: 12%;
    top: 90px;
  }
  .content .oeg-start .oeg-start-leadership .oeg-start-leadership-images .chairman {
    left: 38%;
    top: -15px;
  }
  .content .oeg-grid .oeg-grid-about {
    padding: 27px 34px 53px 32px;
  }
  .content .oeg-grid .oeg-grid-about .oeg-grid-btn-group a {
    font-size: 20px;
    line-height: 24px;
  }
  .content .oeg-grid .oeg-grid-list {
    margin-top: 18px;
  }
  .content .oeg-grid .oeg-grid-list .oeg-grid-item {
    padding: 28.5px 20px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .content .oeg-start .oeg-start-about .group-btn {
    padding: 0;
  }
  .content .oeg-start .oeg-start-about .group-btn span {
    font-size: 14px;
  }
  .content .oeg-grid .oeg-grid-list {
    margin-top: 18px;
  }
  .content .oeg-case-study {
    padding: 26px 0px;
  }
  .content .oeg-case-study h2 {
    margin-bottom: 26px;
  }
  .content .oeg-trusted-partner h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .content .oeg-trusted-partner-group {
    flex-direction: column;
  }
  .content .oeg-trusted-partner-group .btn {
    width: 100%;
  }
  .content .oeg-trusted-partner footer h3 {
    margin-top: 50px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .header .group-images img:last-child {
    margin-left: 30px;
  }
  .content .oeg-start .oeg-start-about .group-btn {
    padding: 0;
  }
  .content .oeg-start .oeg-start-about .group-btn span {
    font-size: 14px;
  }
  .landing-page-title {
    font-size: 32px;
    line-height: 32px;
  }
}

/*# sourceMappingURL=responsive.css.map */
